* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bold {
	font-weight: 600;
}

:root {
	--sidebar-color: rgb(0, 166, 255);
	--content-color: rgb(223, 241, 240);
	--content-shadow: rgb(161, 205, 205);
	--card-shadow: rgb(209, 151, 27);
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 4fr;
}

.sidebar {
	background-color: var(--sidebar-color);
	grid-row: 1 / 3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr 5fr;
	gap: 30px;
}

.sidebar-content {
	color: white;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 5fr;
	align-items: center;
	justify-content: center;
	padding: 10px;
	padding-left: 2vw;
	font-weight: 600;
	font-size: 1.2rem;
}

.sidebar-icon {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
}

.logo-container {
	color: white;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 5fr;
	align-items: center;
	justify-content: center;
	align-content: center;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 10px;
	padding-left: 2vw;
}

.logo {
	width: 35px;
}

.header {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr;
}

.upper-header {
	display: grid;
	grid-template-columns: 1fr 30vw;
	grid-template-rows: 1fr;
	align-items: center;
	padding-top: 3vh;
}

.searchbar {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 40px 1fr;
	align-items: center;
	justify-items: left;
	padding-left: 2vw;
}

input {
	width: 40vw;
	border-radius: 16px;
	background-color: var(--content-color);
	height: 4vh;
	border: none;
}

.profilebar {
	display: grid;
	grid-template-columns: 1fr 1fr 2.5fr;
	grid-template-rows: 1fr;
	align-items: center;
}

.circular {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: yellow;
}

.lower-header {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 1fr;
	align-items: center;
}

.greeting-container {
	padding-left: 2vw;
	display: grid;
	grid-template-columns: 5vw 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	gap: 1vw;
}

.greeting-text {
	font-size: 1.3rem;
}

.small-greeting {
	font-size: 0.7rem;
}

.main-img {
	width: 60px;
	height: 60px;
}

.header-buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	align-items: center;
	gap: 1vw;
	padding-right: 3vw;
}

button {
	font-size: 1.2rem;
	border-radius: 2vw;
	background-color: var(--sidebar-color);
	color: white;
	border: none;
	width: 7vw;
	height: 5vh;
	font-weight: 600;
}

.content {
	background-color: var(--content-color);
	box-shadow: 0px -3px var(--content-shadow);
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 4vh repeat(2, 1fr);
	gap: 25px;
	padding: 25px;
}

.content-heading {
	font-weight: 600;
	font-size: 1.2rem;
	align-self: flex-end;
}

.projects-container {
	grid-row: 2 / 4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 30px;
}

.project-card {
	background-color: white;
	box-shadow: -4px 0px var(--card-shadow);
	display: grid;
	grid-template-rows: 1fr auto;
	border-radius: 1vw;
}

.project-icons {
	display: grid;
	grid-template-columns: repeat(3, 4vw);
	padding-bottom: 1vw;
	justify-self: right;
}

.project-icons > img {
	height: 25px;
	filter: invert(48%) sepia(1%) saturate(40%) hue-rotate(314deg) brightness(88%) contrast(83%);
}

.project-text {
	padding-top: 3vh;
	padding-left: 2vw;
	padding-right: 4vw;
}

.card-name {
	font-weight: 600;
	font-size: 1.1rem;
}

.card-text {
	opacity: 0.6;
}

.announcements-container {
	background-color: white;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	padding: 2vh 2vw;
	border-radius: 1vw;
}

.announcement-card {
	padding: 1vh 0;
}

.announcement-name {
	font-weight: 600;
	font-size: 0.9rem;
}

.announcement-text {
	opacity: 0.6;
	font-size: 0.7rem;
}

.middle {
	border-bottom: 2px solid var(--content-color);
	border-top: 2px solid var(--content-color);
} 

.trending-container {
	background-color: white;
	border-radius: 1vw;
	padding: 3vh 3vw 3vh 1vw;
}

.trending-card {
	display: grid;
	grid-template-columns: 3vw 1fr;
	grid-template-rows: 1fr;
	padding: 2vh 0;
}

.trending-name {
	font-weight: 500;
}

.trending-text  {
	opacity: 0.6;
}

.cyan {
	background-color: cyan;
}

.gray {
	background-color: gray;
}

.pink {
	background-color: pink;
}